# ____REMOVE THIS LINE AFTER RENAMING sample.env to .env ____
HOBBIES = 'CODING'
LANGUAGE = 'ENGLISH'
OWNER_SKILLS = 'JAVASCRIPT'
OWNER_STATUS = 'DEVELOPER'
OWNER_NAME = 'Qasim Ali'
TIME_ZONE = 'Asia/Karachi'
DATABASE_URL = 
REMOVEBG_KEY = 
PREFIX = '.'
MODE = 'private'
statusview = 'true'
BOTNAME = 'MEGA-AI'
antidelete = 'true'
BOT_NUMBER= 
OWNERS = '923376218605'
SESSION_ID = 'iFRmgbjT#1pNiB-o2JVuFMtt2mbj2HkIVQ_qiv_UjkB6UpOtmtnA'
APP_URL =
